# Kreuztabellen

In [1]:
import pandas as pd

df = pd.read_csv(
    "../data/Library_Usage.csv", 
    na_values="none"
)
pd.crosstab(
    df['Provided Email Address'],
    df['Notice Preference Definition'],
    margins=True
)

/tmp/ipykernel_7631/1205254785.py:3: DtypeWarning: Columns (13) have mixed types. Specify dtype option on import or set low_memory=False.
  df = pd.read_csv(

Notice Preference Definition   Email     All
Provided Email Address
True                          393301  393301
All                           393301  393301

In [2]:
pd.crosstab(
    df['Provided Email Address'],
    df['Notice Preference Definition'],
    margins=True, normalize=1
)

Notice Preference Definition  Email  All
Provided Email Address
True                            1.0  1.0

# Korrelation

In [3]:
df['Total Checkouts'].corr(df['Total Renewals'])

0.6368680323387791

## 3.8 Exkurs: Anscombe-Quartett

- Lies den Datensatz ein.
- Berechne den Mittelwert, Median und die Standardabweichung der Spalten.
- Berechne jeweils die Korrelation zweier zusammenh채ngender Spalten [x<i>, y<i>].
- Erstelle jeweils ein Streudiagram zweier zusammenh채ngender Spalten [x<i>, y<i>].
- Was f채llt Dir auf? Informiere Dich 체ber den Datensatz hier.

In [4]:
ac = pd.read_csv(
    "../data/anscombe.csv")

In [5]:
ac

    x1     y1  x2    y2  x3     y3  x4     y4
0   10   8.04  10  9.14  10   7.46   8   6.58
1    8   6.95   8  8.14   8   6.77   8   5.76
2   13   7.58  13  8.74  13  12.74   8   7.71
3    9   8.81   9  8.77   9   7.11   8   8.84
4   11   8.33  11  9.26  11   7.81   8   8.47
5   14   9.96  14  8.10  14   8.84   8   7.04
6    6   7.24   6  6.13   6   6.08   8   5.25
7    4   4.26   4  3.10   4   5.39  19  12.50
8   12  10.84  12  9.13  12   8.15   8   5.56
9    7   4.82   7  7.26   7   6.42   8   7.91
10   5   5.68   5  4.74   5   5.73   8   6.89

In [6]:
ac['x1'].mean()

9.0

In [7]:
ac['x1'].median()

9.0

In [8]:
ac['x1'].std()

3.3166247903554

In [9]:
ac['y1'].mean()

7.500909090909093

In [10]:
ac['y1'].median()

7.58

In [11]:
ac['y1'].std()

2.031568135925815

In [12]:
ac['x2'].mean()

9.0

In [13]:
ac['x2'].median()

9.0

In [14]:
ac['x2'].std()

3.3166247903554

In [15]:
ac['y2'].mean()

7.50090909090909

In [16]:
ac['y2'].median()

8.14

In [17]:
ac['y2'].std()

2.0316567355016177

In [18]:
ac['x3'].mean()

9.0

In [19]:
ac['x3'].median()

9.0

In [20]:
ac['x3'].std()

3.3166247903554

In [21]:
ac['y3'].mean()

7.5

In [22]:
ac['y3'].median()

7.11

In [23]:
ac['y3'].std()

2.030423601123667

In [24]:
ac['x4'].mean()

9.0

In [25]:
ac['x4'].median()

8.0

In [26]:
ac['x4'].std()

3.3166247903554

In [27]:
ac['y4'].mean()

7.500909090909091

In [28]:
ac['y4'].median()

7.04

In [29]:
ac['y4'].std()

2.0305785113876023

### Korrelation errechnen

In [30]:
ac['x1'].corr(ac['y1'])

0.81642051634484

In [34]:
ac['x2'].corr(ac['y2'])

0.8162365060002428

In [35]:
ac['x3'].corr(ac['y3'])

0.8162867394895982

In [36]:
ac['x4'].corr(ac['y4'])

0.8165214368885031

### Streudiagramm

Funktioniert nicht.