In [1]:
import pandas as pd

In [2]:
doi_df_journal = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.12688/f1000research.18866.2",
        "10.1038/s41598-019-52881-4",
        "10.1186/s12859-019-3171-0"],
    "journal": [
        "PLoS Comput Biol",
        "JOSS",
        "F1000Res",
        "Sci Rep",
        "BMC Bioinformatics"]})

doi_df_first_author = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.21105/joss.01006",
        "10.12688/f1000research.18866.2",
        "10.1186/s12859-019-3171-0"],
    "first_author": [
        "Blischak",
        "Sparks",
        "Granger",
        "Thang",
        "Chen"]})

In [3]:
doi_df_first_author

                              DOI first_author
0    10.1371/journal.pcbi.1004668     Blischak
1             10.21105/joss.01035       Sparks
2             10.21105/joss.01006      Granger
3  10.12688/f1000research.18866.2        Thang
4       10.1186/s12859-019-3171-0         Chen

In [4]:
doi_df_journal

                              DOI             journal
0    10.1371/journal.pcbi.1004668    PLoS Comput Biol
1             10.21105/joss.01035                JOSS
2  10.12688/f1000research.18866.2            F1000Res
3      10.1038/s41598-019-52881-4             Sci Rep
4       10.1186/s12859-019-3171-0  BMC Bioinformatics

### Inner Merge

In [5]:
doi_df_first_author.merge(doi_df_journal, on="DOI")
# Methode merge
# nur die die in beiden vorkommen
# =inner merge - es wird geschaut welche Sachen sich Ã¼berlappen

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2  10.12688/f1000research.18866.2        Thang            F1000Res
3       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

### Left Join (merge)

In [6]:
doi_df_first_author.merge(doi_df_journal, on="DOI", how="left")
# linker (erster) Dataframe

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2             10.21105/joss.01006      Granger                 NaN
3  10.12688/f1000research.18866.2        Thang            F1000Res
4       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

### right join (merge)

In [7]:
doi_df_first_author.merge(doi_df_journal, on="DOI", how="right")
# bezieht sich auf das rechte (in Klammern gelegten) Dataframe

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2  10.12688/f1000research.18866.2        Thang            F1000Res
3      10.1038/s41598-019-52881-4          NaN             Sci Rep
4       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics

### outer join (merge)

In [8]:
doi_df_first_author.merge(doi_df_journal, on="DOI", how="outer")
# nimmt alle Spalten/Dataframes und fÃ¼gt sie zusammen

                              DOI first_author             journal
0    10.1371/journal.pcbi.1004668     Blischak    PLoS Comput Biol
1             10.21105/joss.01035       Sparks                JOSS
2             10.21105/joss.01006      Granger                 NaN
3  10.12688/f1000research.18866.2        Thang            F1000Res
4       10.1186/s12859-019-3171-0         Chen  BMC Bioinformatics
5      10.1038/s41598-019-52881-4          NaN             Sci Rep

## Wenn auf Spalten mit verschiednenen Namen gemerged werden soll

In [9]:
doi_df_journal = pd.DataFrame({
    "DOI": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.12688/f1000research.18866.2",
        "10.1038/s41598-019-52881-4",
        "10.1186/s12859-019-3171-0"],
    "journal": [
        "PLoS Comput Biol",
        "JOSS",
        "F1000Res",
        "Sci Rep",
        "BMC Bioinformatics"]})

doi_df_first_author = pd.DataFrame({
    "article_doi": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.21105/joss.01006",
        "10.12688/f1000research.18866.2",
        "10.1186/s12859-019-3171-0"],
    "first_author": [
        "Blischak",
        "Sparks",
        "Granger",
        "Thang",
        "Chen"]})

In [10]:
doi_df_first_author.merge(doi_df_journal, left_on="article_doi", right_on="DOI", how="inner")
# Zwei unterschiedliche DF - die Spalten zu DOI haben  verschiedene Benennungen. Um Pandas bescheid zu geben, welcher
# DF genommen werden soll werden right/left_on genutzt -> um alle spalten zu mergen 

# left ist immer das erste genannte :)

,article_doi,first_author,DOI,journal
0,10.1371/journal.pcbi.1004668,Blischak,10.1371/journal.pcbi.1004668,PLoS Comput Biol
1,10.21105/joss.01035,Sparks,10.21105/joss.01035,JOSS
2,10.12688/f1000research.18866.2,Thang,10.12688/f1000research.18866.2,F1000Res
3,10.1186/s12859-019-3171-0,Chen,10.1186/s12859-019-3171-0,BMC Bioinformatics

# Apply

In [11]:
doi_df_first_author_2 = pd.DataFrame({
    "DOIs": [
        "10.1371/journal.pcbi.1004668",
        "10.21105/joss.01035",
        "10.21105/joss.01006",
        "10.12688/f1000research.18866.2",
        "10.1186/s12859-019-3171-0"],
    "first_author": [
        "Blischak J.",
        "Sparks Adam H.",
        "Granger Nicolas",
        "Thang",
        "Chen Danze"]})

In [12]:
doi_df_first_author_2
# Namen sind unterschiedlich aufgefÃ¼hrt - schmutzige Daten - bleh (Konrad)

                             DOIs     first_author
0    10.1371/journal.pcbi.1004668      Blischak J.
1             10.21105/joss.01035   Sparks Adam H.
2             10.21105/joss.01006  Granger Nicolas
3  10.12688/f1000research.18866.2            Thang
4       10.1186/s12859-019-3171-0       Chen Danze

In [13]:
"Rosalind Franklin". split(" ")
# split splittet strings
# " darin steht das Trennzeichen "

['Rosalind', 'Franklin']

In [14]:
"Rosalind Franklin". split(" ")[0]

'Rosalind'

In [15]:
"Rosalind Franklin". split(" ") [1]

'Franklin'

In [16]:
# for oder apply -> ist noch effizienter/schÃ¶ner zu lesen

In [17]:
doi_df_first_author_2["first_author"]

0        Blischak J.
1     Sparks Adam H.
2    Granger Nicolas
3              Thang
4         Chen Danze
Name: first_author, dtype: object

In [18]:
doi_df_first_author_2["first_author"].apply(
    lambda author: author. split(" ")[0])

0    Blischak
1      Sparks
2     Granger
3       Thang
4        Chen
Name: first_author, dtype: object

In [19]:
doi_df_first_author_2 ["last_name"] = doi_df_first_author_2["first_author"].apply(
    lambda author: author. split(" ")[0])

In [20]:
doi_df_first_author_2

                             DOIs     first_author last_name
0    10.1371/journal.pcbi.1004668      Blischak J.  Blischak
1             10.21105/joss.01035   Sparks Adam H.    Sparks
2             10.21105/joss.01006  Granger Nicolas   Granger
3  10.12688/f1000research.18866.2            Thang     Thang
4       10.1186/s12859-019-3171-0       Chen Danze      Chen

In [21]:
doi_df_first_author_2["first_author"].apply(
    lambda author: author. split(" ")[1:])

0          [J.]
1    [Adam, H.]
2     [Nicolas]
3            []
4       [Danze]
Name: first_author, dtype: object

In [22]:
"Sparks Adam H.".split(" ")

['Sparks', 'Adam', 'H.']

In [23]:
"Sparks Adam H.".split(" ") [1:]

['Adam', 'H.']

In [24]:
# aus Liste muss string genereriert werden

In [25]:
doi_df_first_author_2["first_author"].apply(
    lambda author: " ". join(author. split(" ")[1:]))
# geschieht durch den Befehl split

0         J.
1    Adam H.
2    Nicolas
3
4      Danze
Name: first_author, dtype: object

In [26]:
doi_df_first_author_2 ["given_name"] = doi_df_first_author_2["first_author"].apply(
    lambda author: " ". join(author. split(" ")[1:]))

In [27]:
doi_df_first_author_2

                             DOIs     first_author last_name given_name
0    10.1371/journal.pcbi.1004668      Blischak J.  Blischak         J.
1             10.21105/joss.01035   Sparks Adam H.    Sparks    Adam H.
2             10.21105/joss.01006  Granger Nicolas   Granger    Nicolas
3  10.12688/f1000research.18866.2            Thang     Thang
4       10.1186/s12859-019-3171-0       Chen Danze      Chen      Danze

In [28]:
# doi...2 bezieht sich auf [x - beziehungsweise die wird angesprochen] und darin wird alles hinter 
# = durchgefÃ¼hrt -> lerzeichen und split ab

In [29]:
del doi_df_first_author_2 ["first_author"] 
# del = Delete

In [30]:
doi_df_first_author_2

                             DOIs last_name given_name
0    10.1371/journal.pcbi.1004668  Blischak         J.
1             10.21105/joss.01035    Sparks    Adam H.
2             10.21105/joss.01006   Granger    Nicolas
3  10.12688/f1000research.18866.2     Thang
4       10.1186/s12859-019-3171-0      Chen      Danze

In [31]:
doi_df_first_author_2.to_csv("doi_last_and_first_name.csv")
# Datei erzeugt die in jupyter drin ist